In [8]:
print(name)

NameError: name 'name' is not defined

In [12]:
name: str = "Asim Gohar Butt"
print(name)

Asim Gohar Butt

# String Data type in python

In [13]:
# boundries
# 'string text', "string text ", '''string text''', """ string"""
# `string text` type script

name : str = "Asim Gohar butt"
print(type(name))
print(name)

<class 'str'>
Asim Gohar butt

In [16]:
piaic : str = 'Piaic student card \n Father's name'
print(piaic)

SyntaxError: unterminated string literal (detected at line 1) (3036595969.py, line 1)

In [17]:
piaic : str = "Piaic student card \n Father's name"
print(piaic)

Piaic student card
 Father's name

In [20]:
piaic : str = 'Piaic "student card" \n Fathers name'
print(piaic)

Piaic "student card"
 Fathers name

In [24]:
# convert any special character into simple character, place \ before character
message : str = 'PIAIC Student Card \n Father\'s Name'
print(message)

PIAIC Student Card
 Father's Name

In [25]:
"a" , "b" , "c"

('a', 'b', 'c')

In [26]:
"a" + "b" + "c"

'abc'

In [27]:
"A" + 7

TypeError: can only concatenate str (not "int") to str

In [28]:
'A' + "7"

'A7'

In [31]:
name:str = "Asim Gohar Butt"
fName:str = "Umar Saeed Butt"
education:str = "FSC in pre-Engeenering"
age: int = 20

card: str = "PIAIC Student Card \n Student Name: " + name + "Student Age: " + age
print(card)

TypeError: can only concatenate str (not "int") to str

In [35]:
name:str = "Asim Gohar Butt" 
fName:str = "Umar Saeed Butt"
education:str = "FSC in pre-Engeenering"
age:int = 20

card :str = "PIAIC Student Card\n Student Name: " + name +"\n Student Age: " + str(age)
print(card)

PIAIC Student Card
 Student Name: Asim Gohar Butt
 Student Age: 20

In [36]:
print(7 + 8 + 2)

17

# "\\" use for line continue

In [37]:
print(7 + \
    8 + \
        2)

17

In [81]:
name:str = "Asim Gohar Butt" 
fName:str = "Umar Saeed Butt"
education:str = "FSC in pre-Engeenering"
age:int = 20

card : str = "PIAIC Student Card \n Student Name: " + name + \
"\n Student Age: " + str(age) + "\n" + \ 
"Father Name: " + fName + "\n" + \ 
"Education: " + education 
print(card)

SyntaxError: unexpected character after line continuation character (838162943.py, line 7)

In [29]:
name:str = "Asim Gohar Butt" 
fName:str = "Umar Saeed Butt"
education:str = "FSC in pre-Engeenering"
age:float = 20.2


card : str = "PIAIC Student Card \n Student Name: " + name + \
"\n Student Age: " + str(age) + "\n" \
"Father Name: " + fName + "\n" \
"Education: " + education 
print(card)

PIAIC Student Card
 Student Name: Asim Gohar Butt
 Student Age: 20.2
Father Name: Umar Saeed Butt
Education: FSC in pre-Engeenering

# Define Multiline string """ """ , ''' '''

In [32]:
name:str = "Asim Gohar Butt" 
fName:str = "Umar Saeed Butt"
education:str = "FSC in pre-Engeenering"
age:float = 20.2


card : str = """
PIAIC Student Card
Student Name: 
Age:
Father Name: ......
Education: ......
"""
print(card)

PIAIC Student Card
Student Name:
Age:
Father Name: ......
Education: ......

# Using "f" String in double qoute

In [33]:
name:str = "Asim Gohar Butt" 
fName:str = "Umar Saeed Butt"
education:str = "FSC in pre-Engeenering"
age:float = 20.2


card : str = f"""
PIAIC Student Card
Student Name: {name}
Age: {age}
Father Name: {fName}
Education: {education}
"""
print(card)

PIAIC Student Card
Student Name: Asim Gohar Butt
Age: 20.2
Father Name: Umar Saeed Butt
Education: FSC in pre-Engeenering

# using "f" string in single quote

In [34]:
name:str = "Asim Gohar Butt" 
fName:str = "Umar Saeed Butt"
education:str = "FSC in pre-Engeenering"
age:float = 20.2

card : str = f'''
PIAIC Student Card
Student Name: {name}
Age: {age}
Father Name: {fName}
Education: {education}
'''
print(card)

PIAIC Student Card
Student Name: Asim Gohar Butt
Age: 20.2
Father Name: Umar Saeed Butt
Education: FSC in pre-Engeenering

# using "f" string in backticks ``

In [35]:
name:str = "Asim Gohar Butt" 
fName:str = "Umar Saeed Butt"
education:str = "FSC in pre-Engeenering"
age:float = 20.2

card : str = f```
PIAIC Student Card
Student Name: {name}
Age: {age}
Father Name: {fName}
Education: {education}
```
print(card)

SyntaxError: invalid syntax (161871494.py, line 6)

In [40]:
name : str = 'Asim Gohar Butt'
fname : str = "Umar Saeed Butt"
education : str = "FSC pre-Engeenering"
age : int = 20.2


card : str = f"""
PIAIC Student Card
Student Name : {name}
Father's Name: {fname}
Age: {age}
Education : {education}

Total {2 + 8 + 9 + 3}
"""
print(card)

PIAIC Student Card
Student Name : Asim Gohar Butt
Father's Name: Umar Saeed Butt
Age: 20.2
Education : FSC pre-Engeenering

Total 22

In [37]:
# Jinja Style
"""
student name {{name}}
"""

'\nstudent name {{name}}\n'

# "f" string by ".format " method

In [39]:
a = 7
b = 6
"Pakistan value a = {} and Zindabad value b = {}".format(b,a)

'Pakistan value a = 6 and Zindabad value b = 7'

# old "f" string style

In [47]:
name : str = 'Asim Gohar Butt'
fname : str = "Umar Saeed Butt"
education : str = "FSC pre-Engeenering"
age : int = 20


card : str = f"""
PIAIC Student Card
Student Name : %s
Father's Name: %s
Age: %d
Education : %s
""" %(name , fname , age , education) #Sequence will be matter
print(card)

PIAIC Student Card
Student Name : Asim Gohar Butt
Father's Name: Umar Saeed Butt
Age: 20
Education : FSC pre-Engeenering

In [69]:
name : str = 'Asim Gohar Butt'
fname : str = "Umar Saeed Butt"
education : str = "FSC pre-Engeenering"
age : int = 20


card : str = """
PIAIC Student Card
Student Name : {}
Father's Name: {}
Age: {}
Education : {}
""".format(name , age , fname , education) #Again sequence will be matter
print(card)

PIAIC Student Card
Student Name : Asim Gohar Butt
Father's Name: 20
Age: Umar Saeed Butt
Education : FSC pre-Engeenering

# solve problem by indexing

In [70]:
name : str = 'Asim Gohar Butt'
fname : str = "Umar Saeed Butt"
education : str = "FSC pre-Engeenering"
age : int = 20


card : str = """
PIAIC Student Card
Student Name : {0}
Father's Name: {2}
Age: {1}
Education : {3}
""".format(name , age , fname , education) #Again sequence will be matter for indexing
#           0       1      2       3
print(card)

PIAIC Student Card
Student Name : Asim Gohar Butt
Father's Name: Umar Saeed Butt
Age: 20
Education : FSC pre-Engeenering

In [73]:
#Solve by giving your own index name like a = name
name : str = 'Asim Gohar Butt'
fname : str = "Umar Saeed Butt"
education : str = "FSC pre-Engeenering"
age : int = 20


card : str = """
PIAIC Student Card
Student Name : {a}
Father's Name: {c}
Age: {b}
Education : {d}
""".format(a = name , b = age ,c = fname , d = education) #Again sequence will be matter
print(card)

PIAIC Student Card
Student Name : Asim Gohar Butt
Father's Name: Umar Saeed Butt
Age: 20
Education : Umar Saeed Butt

# Recommended below two f-string format

In [6]:
name : str = 'Asim Gohar Butt'
fname : str = "Umar Saeed Butt"
education : str = "FSC pre-Engeenering"
age : int = 20

    # No 1
card : str = f"""
PIAIC Student Card
Student Name : {name}
Father's Name: {fname}
Age: {age}
Education : {education}
"""
print(card)
print(len(card))

PIAIC Student Card
Student Name : Asim Gohar Butt
Father's Name: Umar Saeed Butt
Age: 20
Education : FSC pre-Engeenering

122

In [11]:
student_code : str = """
print("My Name is 'Asim Gohar Butt'")
a:int = 7
b:int = 13
print("Age is\t"+ str(a + b) )
"""

exec(student_code)

My Name is 'Asim Gohar Butt'
Age is	20

In [14]:
import re

name : str = "      MuHammAd           QasIm         "

display(name)

name1 : str = re.sub(' {2,100}',' ', name).strip()
display(name1)

'      MuHammAd           QasIm         '

'MuHammAd QasIm'

In [13]:
piaic student card:str = "Qasim"
print(piaic student card)

SyntaxError: invalid syntax (549848945.py, line 1)

In [15]:
name:str = "     ASIM BUTT     "
name.strip()

'ASIM BUTT'

In [16]:
name:str = "     ASIM BUTT     "
print(name)
name.rstrip()

     ASIM BUTT

'     ASIM BUTT'

In [17]:
name:str = "     ASIM     BUTT     "
print(name)
name.lstrip()

     ASIM BUTT

'ASIM BUTT     '

In [18]:
name:str = "     ASIM     BUTT     "
print(name)
name.strip()

     ASIM     BUTT

'ASIM     BUTT'

In [30]:
name:str = "     ASIM     BUTT     "
print(name)
name1:str = re.sub(' {2,100}',' ',name).strip()
display(name1)

     ASIM     BUTT

'ASIM BUTT'

In [2]:
web_url:str = 'https://twitter.com'
print(web_url.removeprefix('https://'))
web_url.removesuffix(".com")

twitter.com

'https://twitter'